# Folder view configuration files
.DS_Store
Desktop.ini

# Security Rules File
security-rules.json

# Thumbnail cache files
._*
Thumbs.db

# log files #
*.log


# node
node_modules/

# build
build/

*.env
*.env.now

.netlify